@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Aguafina+Script&family=Allura&family=Great+Vibes&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Pacifico&family=Playwrite+AU+QLD:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", Arial, Helvetica, sans-serif;
}

:root {
  --primary-color: #fff;
  --secondy-color: #000;
  --footer-color: #151515;
  --footer-p: #ffa500;
}
.white-theme {
  --primary-color: #000;
  --secondy-color: #fff;
  --footer-color: #b0afaf;
  --footer-p: #000000d6;
  --posstion: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
}
main {
  width: 100%;
  height: 100%;
  color: var(--primary-color);
}
.cursor {
  height: 15px;
  width: 15px;
  background-color: var(--primary-color);
  border-radius: 50%;
  position: fixed;
  z-index: 999;
}
#hero-section {
  background-color: var(--secondy-color);
  width: 100%;
  height: auto;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2vw 6vw;
}

nav h2 {
  color: orange;
  font-size: 2.5vw;
}

nav ul {
  display: flex;
  gap: 2.5vw;
  padding: 12px 30px;
  outline: none;
}

nav ul li {
  list-style: none;
  transition: 0.5s ease;
  cursor: pointer;
}
nav ul li:hover {
  transform: scale(1.1);
}

nav ul li a {
  font-size: 1vw;
  text-decoration: none;
  color: var(--primary-color);
  text-transform: uppercase;
  content: "";
  position: relative;
}
nav ul li a::after {
  content: "";
  width: 0%;
  height: 1.5px;
  background: orange;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}
nav ul li a:hover:after {
  width: 100%;
}
nav .side-bar {
  color: #ffa500;
  font-size: 5vw;
  cursor: pointer;
  display: none;
}
.toggle-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.toggle-btn {
  width: 65px;
  height: 28px;
  border-radius: 50px;
  background: orange;
  outline: none;
  border: none;
  cursor: pointer;
  position: relative;
}
.toggle-btn i {
  color: #000;
  position: absolute;
  top: 6px;
  right: 0.5vw;
}
.dropdown-menu {
  position: fixed;
  margin: 15px 15px 0 0;
  width: 70%;
  height: 60vh;
  top: 0%;
  right: -80%;
  background-color: rgb(233, 159, 21, 0.5);
  backdrop-filter: blur(50px);
  padding-top: 65px;
  z-index: 999;
  text-align: center;
  border-radius: 6px;
}
.dropdown-menu ul i {
  position: absolute;
  top: 20px;
  right: 20px;
  color: black;
  font-size: 25px;
  cursor: pointer;
}
.dropdown-menu ul li {
  list-style: none;
}
.dropdown-menu ul li a {
  font-size: 20px;
  text-decoration: none;
  color: #000;
  font-weight: 500;
  text-transform: uppercase;
}
.mode-btn {
  position: absolute;
  display: flex;
  align-items: center;
  width: 60px;
  height: 18px;
  top: 20px;
  left: 20px;
  background-color: var(--secondy-color);
  border-radius: 5px;
  border: 0.1px solid rgba(128, 128, 128, 0.776);
  cursor: pointer;
}
.mode-btn .squre {
  position: absolute;
  right: var(--posstion);
  margin: 0 4px;
  width: 15px;
  height: 10px;
  border-radius: 4px;
  background-color: var(--primary-color);
}
.hero-content {
  position: relative;
}

.hero-heading {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  max-width: 100vw;
}

.hero-heading h1 {
  font-size: 15vw;
  font-weight: 900;
  /* line-height: 1.5; */
  text-transform: uppercase;
  transform: scaleY(1.5);
  color: var(--primary-color);
}

.hero-content span {
  font-size: 5vw;
  font-family: "Aguafina Script", "Allura";
  font-weight: 600;
  position: absolute;
  color: orange;
  top: -1vw;
  letter-spacing: 5px;
  transform: rotate(-8deg);
}

.smalltext {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0vw 9vw;
  margin-bottom: 100px;
  color: var(--primary-color);
}

.smalltext p {
  text-transform: uppercase;
  font-size: 1.5vw;
}

.bottom-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2vw 6vw;
  margin-top: 50px;
}

.hero-footer .left {
  display: flex;
  gap: 10px;
}

.left div {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: orange;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
}

.hero-footer h2 {
  font-size: 2vw;
  text-transform: uppercase;
  color: orange;
}

/* <!-- ------------Introduction section-------------- --> */
#introduction {
  background: var(--secondy-color);
  width: 100%;
  height: auto;
}

.intro-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2vw 6vw;
}

.intro-text-container {
  width: 40%;
}
.intro-headings {
  margin-bottom: 10px;
}

.intro-headings h1 {
  font-size: 3vw;
  font-weight: 900;
  line-height: 1.7;
  text-transform: uppercase;
  transform: scaleY(1.8);
}

.intro-text-container p {
  width: 90%;
  margin-bottom: 1.5rem;
  font-size: 15px;
  font-weight: 300;
  line-height: 2;
  color: var(--primary-color);
  text-align: justify;
}

.intro-text-container .more {
  border: none;
  outline: none;
  font-size: 2vw;
  padding: 1vw 2vw;
  border-radius: 30px;
  background: orange;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro-text-container.more i {
  margin-left: 1vw;
  text-align: end;
  font-size: 2vw;
}

.intro-image-container {
  width: 60%;
  gap: 2vw;
  display: flex;
  place-content: end;
  margin-top: 3vw;
}

.first-image {
  width: 350px;
  height: 350px;
}
.first-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.second-image {
  width: 200px;
  height: 350px;
}
.second-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

/* <!-- ------------About section-------------- --> */
#about {
  background-color: var(--secondy-color);
  width: 100%;
  height: auto;
}
.about-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  padding: 2vw 6vw;
}
.about-content .intro-text-container p {
  width: 100%;
}

.about-image-container {
  width: 40%;
  height: 70vh;
}
.about-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
/* <!-- ------------education section-------------- --> */
#education {
  background-color: var(--secondy-color);
  width: 100%;
  height: auto;
}
.education-upper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5vw;
  padding: 2vw 6vw;
  margin-bottom: 20px;
}
.education-upper h1 {
  font-size: 5vw;
  font-weight: 900;
  line-height: 1.7;
  transform: scaleY(1.8);
  text-transform: uppercase;
  text-overflow: ellipsis;
}
.education-upper-image {
  width: 60%;
  height: 25vh;
}
.education-upper-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15vw;
}

.education-text-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 40px;
  padding: 2vw 6vw;
}
.box1 :nth-child(2) {
  color: orange;
}
.box1 :nth-child(3) {
  text-align: start;
  letter-spacing: 0;
  margin-top: 20px;
}

#project {
  background-color: var(--secondy-color);
  width: 100%;
  height: auto;
}
.prject-content {
  padding: 2vw 6vw;
}
.project-heading {
  font-size: 5vw;
  font-weight: 900;
  line-height: 1.7;
  transform: scaleY(1.8);
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
.project-image-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
  /* padding: 0px 90px; */
}
.image1 {
  position: relative; /* Important for absolute positioning */
  width: 100%;
  height: 300px;
  border-radius: 10px;
  background-color: white;
  overflow: hidden; /* To hide the layer outside */
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.image1 img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.image2 {
  position: relative; /* Important for absolute positioning */
  width: 100%;
  height: 300px;
  border-radius: 10px;
  overflow: hidden; /* To hide the layer outside */
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.image2 img {
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
}
.image3 {
  position: relative; /* Important for absolute positioning */
  width: 100%;
  height: 300px;
  border-radius: 10px;
  overflow: hidden; /* To hide the layer outside */
  box-shadow: rgba(50, 50, 93, 0.409) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.image3 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-repeat:cover;
}

.layer {
  position: absolute;
  bottom: -100%; /* Hide below */
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.6), orange);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0px 50px;
  gap: 20px;
  transition: bottom 0.5s ease-in-out; /* Animation effect */
}

.layer p {
  text-align: center;
}
.layer a {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  text-decoration: none;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
}

/* Show layer on hover */
.image1:hover .layer {
  bottom: 0;
}
.image2:hover .layer {
  bottom: 0;
}
.image3:hover .layer {
  bottom: 0;
}

#skills {
  background-color: var(--secondy-color);
  width: 100%;
  height: auto;
}
.skill-text {
  text-align: center;
}
.skill-text h1 {
  font-size: 5vw;
  font-weight: 900;
  line-height: 1.7;
  transform: scaleY(1.8);
  text-transform: uppercase;
  padding: 2vh 0;
}
.skill-text p {
  max-width: 80%;
  font-size: 1.2vw;
  letter-spacing: 1px;
  margin: auto;
}
.skill-text p span {
  color: orange;
  font-size: larger;
  font-weight: 700;
}
.skill-content {
  padding: 2vw 6vw;
}
.skill-container {
  display: flex;
  justify-content: space-evenly;
  border: 1px #fff solid;
  border-radius: 10px;
  padding: 4vw 0;
  margin: 2vh 0;
}

/* <!-- ------------contact section-------------- --> */
#contact {
  background-color: var(--secondy-color);
  width: 100%;
  height: auto;
}

.contact-content {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 2vw 6vw;
}

.contact-text-container {
  width: 60%;
}

.contact-text-container h1 {
  font-size: 4.5vw;
  font-weight: 900;
  line-height: 1.7;
  transform: scaleY(1.8);
  text-transform: uppercase;
  margin-bottom: 1rem;
  letter-spacing: 1px;
}

.contact-text-container p {
  font-size: 1.3vw;
  color: var(--primary-color);
  margin-bottom: 2rem;
}
.contact-box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2rem;
}

.contact-item {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.icon {
  background: orange;
  padding: 1vw;
  border-radius: 5px;
  margin-right: 2vw;
  font-size: 2vw;
  color: #000;
}
.tailwind {
  width: 100%;
  color: #000;
}

.contact-text h3 {
  font-size: 1.5vw;
  font-weight: bold;
  margin: 0;
}

.contact-text p {
  font-size: 1vw;
  margin: 5px 0 0;
  color: var(--primary-color);
}
.contact-text p a {
  text-decoration: none;
  color: var(--primary-color);
}
.contact-image {
  width: 40vw;
  height: 80vh;
}
.contact-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.footer-left {
  display: flex;
  gap: 10px;
}
footer {
  width: 100%;
  height: 12vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--footer-color);
}
footer p {
  font-size: 1vw;
  font-weight: 500;
  color: var(--footer-p);
}

/* <!-- ------------Media quarries-------------- --> */

/* ---------- 1200px and below (Large screens like small laptops) ---------- */
@media screen and (max-width: 1100px) {
  .intro-headings h1 {
    font-size: 2vw;
  }
  .about-image-container {
    height: 60vh;
    width: 50%;
    gap: 30px;
  }
  .education-upper-image {
    height: 15vh;
  }
  .contact-text-container p {
    margin-bottom: 1rem;
  }
  .contact-box {
    gap: 1rem;
  }
  .contact-image {
    height: 60vh;
  }
}

@media screen and (max-width: 700px) {
  nav ul {
    display: none;
  }
  #introduction nav,
  #about nav,
  #education nav,
  #project nav,
  #skills nav,
  #contact nav {
    display: none;
  }
  .toggle-btn-container,
  .toggle-btn {
    display: none;
    position: absolute;
  }
  .dropdown-menu {
    display: block;
  }
  .dropdown-menu-mode {
    display: block;
  }
  hr {
    display: none;
  }
  nav h2 {
    font-size: 6vw;
  }
  nav .side-bar {
    display: block;
  }
  .hero-content {
    margin-top: 25px;
  }
  .hero-footer {
    /* margin-top: 30px;*/
    padding-bottom: 25px;
  }
  .intro-content {
    display: flex;
    flex-direction: column;
  }
  .contact-content-container {
    flex-direction: column;
  }
  .intro-content {
    flex-direction: column;
    gap: 10px;
  }

  .intro-text-container {
    width: 90%;
    height: auto;
  }
  .intro-headings,
  .text-container p {
    margin-bottom: 5px;
  }
  .intro-headings h1,
  .contact-text-container h1,
  .education-upper h1,
  .project-heading {
    font-size: 8vw;
    transform: scaleY(1.3);
    text-align: center;
  }
  .intro-image-container {
    width: 90%;
    gap: 10px;
  }
  .intro-text-container p {
    width: 100%;
  }
  .second-image {
    display: none;
  }
  .about-content {
    flex-direction: column;
    gap: 2rem;
  }

  .about-image-container {
    width: 90%;
    height: 50vh;
  }
  .education-upper {
    flex-direction: column;
  }
  .education-upper-image {
    width: 100%;
    height: 13vh;
  }
  .layer {
    bottom: -100%;
  }
  .image1:hover .layer {
    bottom: 0;
  }
  .image2:hover .layer {
    bottom: 0;
  }
  .image3:hover .layer {
    bottom: 0;
  }
  .skill-container {
    flex-direction: column;
  }
  .skill-text p {
    width: 60%;
    font-size: 2.5vw;
  }
  .contact-content {
    flex-direction: column;
  }
  .contact-text-container,
  .contact-image {
    width: 100%;
  }
  .contact-image {
    width: 100%;
    height: 50vh;
    margin-top: 2rem;
  }
  .contact-text-container p {
    font-size: 4vw;
    text-align: center;
  }
  .contact-box {
    grid-template-columns: 1fr; /* Stack items vertically */
  }
  .contact-item {
    padding-left: 8vw;
  }
  .icon {
    font-size: 6vw;
    padding: 3vw;
    margin-right: 4vw;
  }

  .contact-text h3 {
    font-size: 5vw;
  }

  .contact-text p {
    font-size: 3.5vw;
  }
  footer p {
    font-size: 2.5vw;
  }
}
